SLACK_WEBHOOK_URL=https://hooks.slack.com/services/REPLACE/ME
SLACK_CHANNEL="#guardian-alerts"
GRAFANA_ADMIN_PASSWORD=change-me
WEBHOOK_INTERNAL_TOKEN=change-me
GUARDIAN_HMAC_SECRET=change-me
GRAFANA_HOST=grafana.abhinash.dev
WEBHOOK_HOST=webhook.abhinash.dev
